@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

html, body{
	background-color: black;
	color: white;
	font-family: 'Source Code Pro', monospace;
}

p{
	margin: 0;
	padding: 0;
}

.af{
	color: #45ff00;
}

.neg{
	color: #ff0000;
}